<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Xpress</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div class="title">
        Login Form
    </div>
    <form id="loginForm" th:action="@{/api/auth/login}" method="post">
        <div class="field">
            <label> Username : <input type="text" name="username"/> </label>
        </div>
        <div class="field">
            <label> Password: <input type="password" name="password"/> </label>
        </div>
        <div class="field">
            <input type="submit" value="Sign In"/>
        </div>
        <div class="link">
            Not a member? <a href="register">Register now</a>
        </div>
    </form>
</div>

<script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/api/auth/login', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Login failed');
                }
            })
            .then(data => {
                const [dashboard, token, username] = data.split('|'); // Splitting response into dashboard and token
                console.log(data);
                localStorage.setItem('dashboard', dashboard); // Storing the dashboard URL
                localStorage.setItem('jwtToken', token); // Storing the JWT token
                localStorage.setItem('username',username);
                window.location.href = '/books/'; // Redirect to the dashboard URL
            })
            .catch(error => {
                console.error('Login error:', error);
            });
    });
</script>
</body>
</html>
